<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/"><img src="assets/img/logo_white_12x12.png" style="margin-right: 16px; margin-top: -4px;"><b>Home</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

      <div class='background-sky hero'></div>

        <!--<div class="tool-menu">
          <div class="inline-block" style="color: white; padding-left: 20px;">
            <img src="assets/img/logo_white_12x12.png" width="16" height="16">
            <span class="menu-item active">Home</span>
            <span class="menu-item">Portfolio</span>
            <span class="menu-item">About</span>
            <span class="menu-item">Contact</span>
          </div>
        </div>-->

        <div class="bg-container">
          <div class="bg-container-header">
              <svg xmlns="http://www.w3.org/2000/svg" width="54" height="14" viewBox="0 0 54 14"><g fill="none" fill-rule="evenodd" transform="translate(1 1)"><circle cx="6" cy="6" r="6" fill="#FF5F56" stroke="#E0443E" stroke-width=".5"></circle><circle cx="26" cy="6" r="6" fill="#FFBD2E" stroke="#DEA123" stroke-width=".5"></circle><circle cx="46" cy="6" r="6" fill="#27C93F" stroke="#1AAB29" stroke-width=".5"></circle></g></svg>
          </div>
          <div class="bg-container-content">
              {{ content }}
          </div>
          <div class="bg-container-footer">

          </div>
      </div>
  </body>

</html>